@import '../../styles/tools.scss';

.EditTask{
	display: none;
	position: absolute;
	left: 25%;
	top: 25%;
	// width: 50%;
	width: 40%;
	padding: 20px;
	background: #FFF;
	border-radius: 5px;
	box-shadow: 1px 1px 10px rgba(0,0,0,.5);
	transform: translateY(54px);

	&.-visible{
		display: block;
	}
}

